<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Testing">
<listeners> 
<listener class-name="com.qa.utility.ExtentReport"/>
</listeners>
<test thread-count="5" name="Test">
<parameter name="Browser" value="chrome"/>
<parameter name="Url" value="https://www.Flipkart.com"/>
    <classes>
      <class name="com.qa.testscripts.Flipkarthomepage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
